html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    align-items: center; 
    overflow: hidden;
}

.nav-bar img {
    width: 10rem;
    height: auto;
    margin-left: 5rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style-type: none;
    margin-right: 5rem;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

.content-container {
    display: flex;
    justify-content: center;
    background: url(images/background.jpg);
    width: 100%;
    height: 750px;
    max-height: 100vh;
}

.content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 20rem;
    width: 75rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.footer {
    text-align: center;
}