html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    align-items: center; 
    overflow: hidden;
}

.nav-bar img {
    width: 10rem;
    height: auto;
    margin-left: 5rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style-type: none;
    margin-right: 5rem;
}

.nav-links li a {
    text-decoration: underline;
    text-underline-offset: .5rem;
    color: black;
    font-size: larger;
}

.slideshow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.slides {
    display: none;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.slide-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 5rem;
    background-color: rgba(0, 0, 0, 50%);
}

.slides img {
    width: 100%;
    height: 45rem;
}

.slide-header {
    text-transform: uppercase;
    font-family: sans-serif, serif;
    color: #F4E04D;
    font-weight: bolder;
    letter-spacing: .3rem;
}

.slide-description {
    font-family: sans-serif, serif;
    color: #FCFCFC;
    font-size: 2rem;
}

.slide-button {
    display: flex;
    font-family: sans-serif, serif;
    border: .2rem solid #F4E04D;
    background-color: #F4E04D;
    text-transform: uppercase;
    font-weight: bold;
    color: #FCFCFC;
    padding: 1rem 2rem 1rem 2rem;
}

.content-header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 13rem;
    font-family: sans-serif, serif;
    background-color: #28C2FF;
    color: white;
}

.our-team {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    text-align: center;
    flex-wrap: wrap;
}

.our-team div img {
    width: 20rem;
    height: 30rem;
}

.content-header {
    font-size: 2rem;
}

.our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-services, .second-services {
    display: flex;
    flex-direction: row;
}

/* .footer {
    text-align: center;
} */